.navbar {
  flex-direction: column;
  align-items: flex-start;
}
.navbar-list {
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 450ms cubic-bezier(0.77, 0.2, 0.05, 1.0);
  flex-direction: column;
}
.navbar-link {
  padding: 0.5rem 1rem;
  text-align: center;
}
.navbar-list.navbar-open {
  max-height: 50vh;
  opacity: 1;
}
.navbar-toggle {
position: fixed;
font-size: 25px;
top: 18px;
right: 20px;
background-color: transparent;
color: var(--light-color);
border: none;
outline: none;
cursor: pointer;
z-index: 3;
}
.home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}
.home-articles .articles-container > *:first-child,
.home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 0;
}
@media (max-width: 600px) {
.showcase .showcase-container,
.home-articles .articles-container,
.footer .footer-container {
    grid-template-columns: 1fr;
  }
.showcase .showcase-content h1 {
  font-size: 40px;
}
.footer .footer-container > *:last-child {
    grid-column: 1;
  }
.page-container {
    grid-template-columns: 1fr;
  }
.page-container > *:first-child {
    grid-row: 1;
  }
.l-heading {
    font-size: 2rem;
  }
}