.navbar {
    flex-direction: column;
    align-items: flex-start;
}
.navbar-brand {
  margin: 1rem auto;
  padding: 0;
}
  .navbar-list {
    overflow: hidden;
    max-height: 0;
    flex-direction: column;
}
.navbar-item {
  margin: 1rem;
}
  .navbar-link {
    margin: 0;
    padding: 0;
}
  .navbar-list.open-menu {
    max-height: 100vh;
}
  .navbar-toggle {
  display: block;
  position: fixed;
  top: 0.8rem;
  left: 1rem;
  color: var(--dark-color);
  font-size: 30px;
  height: 40px;
  cursor: pointer;
  z-index: 30;
}
.home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}
.home-articles .articles-container > *:first-child,
.home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 0;
}
@media (max-width: 600px) {
.showcase .showcase-container,
.home-articles .articles-container,
.footer .footer-container {
    grid-template-columns: 1fr;
  }
.showcase .showcase-content h1 {
  font-size: 40px;
}
.footer .footer-container > *:last-child {
    grid-column: 1;
  }
}