.home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
}
.home-articles .articles-container > *:first-child,
.home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 0;
}
@media (max-width: 600px) {
.showcase .showcase-container,
.home-articles .articles-container,
.footer .footer-container {
    grid-template-columns: 1fr;
  }
.showcase .showcase-content h1 {
  font-size: 40px;
}
.footer .footer-container > *:last-child {
    grid-column: 1;
  }
.page-container {
    grid-template-columns: 1fr;
  }
.page-container > *:first-child {
    grid-row: 1;
  }
.l-heading {
    font-size: 2rem;
  }
}