* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root {
  --primary-color: #c23a19;
  --light-color: #f3f3f3;
  --dark-color: #333333;
  --max-width: 1100px;
}
/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
/* General styles */
body {
  font-family: "Open-Sans", sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}
a {
  color: var(--dark-color);
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  margin: 0.5rem 0;
}
img {
  width: 100%;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.55rem;
  line-height: 1.3;
}
/* Container */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
/* Category */
.category {
  display: inline-block;
  font-size: 0.55rem;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin: 0.5rem 0;
}
.category-item {
  background-color: var(--dark-color);
  color: var(--light-color);
}
/* Button */
.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
/* Card */
.card {
  background-color: #ffffff;
  padding: 1rem;
}
/* Padding */
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
/* Large heading */
.l-heading {
  font-size: 3rem;
}
/* Unordered list */
.list li {
  padding: 0.5rem 0;
  border-bottom: #777777 solid 1px;
  width: 90%;
}
/* Page container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 5rem 0;
  grid-gap: 1.5rem;
}
.page-container > *:first-child {
  grid-row: 1 / span 3;
}
/* Navbar */
.navbar h1 {
  position: absolute;
  top: 0.4em;
  left: 1em;
  color: var(--light-color);
}
.navbar {
  position: fixed;
  background-color: var(--primary-color);
  width: 100%;
  height: 70px;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
}
.active {
  background-color: #8d2106;
  transition: 0.5s ease-in;
}
.navbar-menu {
  position: fixed;
  background-color: var(--primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 250ms ease;
}
.navbar-list {
  list-style: none;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.navbar-item:last-child {
  margin: 6em 0 0;
}
.navbar-link {
  color: var(--light-color);
  font-size: 24px;
  text-decoration: none;
}
.navbar-toggle {
  position: absolute;
  top: 0.6em;
  right: 1em;
  background-color: transparent;
  color: var(--light-color);
  font-size: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 1000;
}
.navbar-open .navbar-menu {
  transform: translateX(0);
}
/* Header */
.showcase {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 2rem;
  position: relative;
}
.showcase:before {
  content: "";
  background: url("../img/Laptop.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  align-items: center;
  height: 100vh;
}
.showcase .showcase-content {
  z-index: 1;
}
.showcase .showcase-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
}
.home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  align-items: center;
}
.article .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  padding: 0.5rem;
}
/* Footer */
.footer {
  background-color: #ffffff;
  color: var(--dark-color);
}
.footer .social-icon {
  font-size: 20px;
  margin: 0.5rem;
  color: var(--primary-color);
}
.footer li a {
  color: var(--dark-color);
}
.footer p {
  font-size: 12px;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}
.footer .footer-container > *:last-child {
  background-color: var(--light-color);
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}
.footer .footer-container label {
  display: block;
  width: 100%;
  margin: 1em 0 0;
}
.footer .footer-container input {
  background-color: #eeeeee;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  outline: 0;
  border: 0;
}
.footer .footer-container button {
  width: 100%;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-color: var(--primary-color);
  outline: none;
  border: 1px solid;
}
/* Back to top button */
.top {
  display: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 20px;
  padding: 5px 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
